<h1>Listing Courses</h1>

<table class="table">
  <thead>
    <tr>
      <th>Department</th>
      <th>Number</th>
      <th>Description</th>
      <th>Instructor</th>
      <th>Term</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.dept %></td>
        <td><%= course.num %></td>
        <td><%= course.desc %></td>
        <td><%= course.instructor.name %></td>
        <td><%= course.term %></td>
        <!-- <td><%= link_to 'Roster', edit_roster_course_path(course.id) %></td> -->
        <td><%= link_to 'Show', course %></td>
        <!-- <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
