<!DOCTYPE html>
<html>
<head>
  <title>AnacapaGithubPrototype</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<% if current_user %>
    <nav><ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        <li><%= link_to "Courses", courses_path %></li>
        <li><%= link_to "Admin Panel", controller: "admin_panel", action: "index" %></li>
    </ul></nav>
    <%= yield %>
<% else %>
    <p>Please sign in to continue: <%= link_to "Sign in with GitHub", user_omniauth_authorize_path(:github) %></p>
<% end %>

</body>
</html>
